#loginForm{
    width: 435px;
    border-radius: 5px;
    background: url('/assets/login/login-input-bg.png') no-repeat top center;
    margin: 0 auto;
    margin-top: 60px;
    overflow: auto;
    position: relative;
    overflow-x: hidden;
    padding: 1%;
}
.display-inline{
    display: inline-flex;
}
.password-error-text{
 margin-left:50px; 
}

.email-err{
margin-left:5px;
}
.membership_type{margin-left: 55px;}
.membership_type > li{
    margin-left: 14px;
}
.pre-signup{
    background: #993760;
    border: none;
    border-radius: 9px;
    color: white;
    font-size: 10px;
    padding: 5px;
    margin-top:10px;
    margin-bottom: 10px;
}
.pre-signup-active{
    background: #30388d;
}
input{
    padding: 10px 16px;
}
.label-txt{color: #fff}
.signup_btn{margin-top: 40px;margin-bottom: 20px;}
.login_password1{padding: 25px 55px 5px; position: relative;}