<div class="log-main">
    <img class="login-logo" src="/assets/login/login-logo.png" alt="">
    
    <ul class="nav nav-tabs">
        <li class="frgt-pswrd">
            <a data-toggle="tab" href="javascript:;">Forgot Password</a>
        </li>
    </ul>
    <div class="tab-content">
        <div id="home" class="tab-pane fade in active">
            <h5 class="log-x-mr">Password Reset</h5>
            <h6>Forgotten Your Password?</h6>
            <p class="log-style-p">Enter your e-mail address below, and we'll send you instructions for resetting it.</p>
            <div class="login_username1 log-x-mr1">
                <label class="active">Email Address</label>
                <input type="text" 
                    name="Email" 
                    [(ngModel)]="resetpassword.Email"
                    #Email="ngModel"
                    placeholder="Enter Email Address">
                <i class="user-email"></i>
                <i class="fa fa-check log-correct" aria-hidden="true"></i>
            </div>
            <div class="signup_btn">
                <button type="submit" (click)="resertPassword()">Reset password</button>
                <a class="create_acc" href="javascript:;" [routerLink]="['/login']">Back To Sign In</a>
            </div>
        </div>
    </div>
</div>


<!-- modals -->
<div class="history autorod-popup signup_success" id="pass_reset_con" style="display:none;">
    <div class="signup_success_popup">
        <img src="/assets/images/thank-icon.png">
        <h3>Thank you</h3>
        <h4>A password reset message was sent to your email address. Please click the link in that message to rest your password.</h4>
        <button class="login-btn" data-fancybox-close="" [routerLink]="['/login']">Log In</button>
    </div>
</div>
<!-- end -->