.login-btn{
    background: #252160;
    border: none;
    color: #fff;
    border-radius: 3px;
    padding: 10px 40px;
    margin: 0px 15px 0 10px;
    font-size: 13px;
    font-weight: 500;
}
.frgt-pswrd>a{color:#fff ; }
.signup_success_popup{
    text-align: center;
}