.slpopdet-sel-pck table>tbody>tr>td {}

.slpopdet-sel-pck table>tbody>tr>td>div>table>tbody>tr>td>strong {
  position: relative;
}

.slpopdet-sel-pck table>tbody>tr>td>div>table>tbody>tr>td>strong .popshd {
  display: none;
  position: absolute;
  width: 280px;
  z-index: 500;
  bottom: 40px;
  border-radius: 20px;
  left: -80%;
}

.popshd-inner {
  padding-top: 20px;
  position: relative;
  background: #fff;
  border: 1px solid #666666;
  border-radius: 10px;
}

.popshd-inner:after,
.popshd-inner:before {
  top: 100%;
  left: 35%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.popshd-inner:after {
  border-color: rgba(255, 255, 255, 0);
  border-top-color: #fff;
  border-width: 20px;
  margin-left: -20px;
}

.popshd-inner:before {
  border-color: rgba(102, 102, 102, 0);
  border-top-color: #666666;
  border-width: 21px;
  margin-left: -21px;
}

.popshd-inner .close-popshd {
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 15px;
  color: #666666;
}

.slpopdet-sel-pck table>tbody>tr>td>div>table>tbody>tr>td>strong .popshd .popshd-inner table {
  border-collapse: separate;
}

.slpopdet-sel-pck table>tbody>tr>td>div>table>tbody>tr>td>strong .popshd .popshd-inner table tbody tr {
  border: none;
}

.slpopdet-sel-pck table>tbody>tr>td>div>table>tbody>tr>td>strong .popshd .popshd-inner table tbody tr td {
  padding: 6px 0px 6px 20px;
  background: transparent;
  font-size: 12px;
  border: none;
}

.slpopdet-sel-pck table>tbody>tr>td>div>table>tbody>tr>td>strong .popshd .popshd-inner table tfoot {
  border-top: 1px solid #dcdcdc;
}

.slpopdet-sel-pck table>tbody>tr>td>div>table>tbody>tr>td>strong .popshd .popshd-inner table tbody tr td:nth-child(2) {
  font-weight: 700;
}

.popshd .popshd-inner table tfoot tr th {
  padding: 6px 0px 15px 20px;
  font-size: 12px;
}

@media screen and (max-width: 568px) {
  /**************************Tooltip 568 query****************************/
  .slpopdet-sel-pck table>tbody>tr>td>div>table>tbody>tr>td>strong .popshd {
    display: none;
    position: absolute;
    width: 280px;
    z-index: 500;
    bottom: 40px;
    border-radius: 20px;
    left: -100%;
  }
  .popshd-inner {
    padding-top: 20px;
    position: relative;
    background: #fff;
    border: 1px solid #666666;
    border-radius: 10px;
  }
  .popshd-inner:after,
  .popshd-inner:before {
    top: 100%;
    left: 35%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }
  .popshd-inner:after {
    border-color: rgba(255, 255, 255, 0);
    border-top-color: #fff;
    border-width: 20px;
    margin-left: -20px;
  }
  .popshd-inner:before {
    border-color: rgba(102, 102, 102, 0);
    border-top-color: #666666;
    border-width: 21px;
    margin-left: -21px;
  }
  .popshd-inner .close-popshd {
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 15px;
    color: #666666;
  }
  .slpopdet-sel-pck table>tbody>tr>td>div>table>tbody>tr>td>strong .popshd .popshd-inner table {
    border-collapse: separate;
  }
  .slpopdet-sel-pck table>tbody>tr>td>div>table>tbody>tr>td>strong .popshd .popshd-inner table tbody tr {
    border: none;
  }
  .slpopdet-sel-pck table>tbody>tr>td>div>table>tbody>tr>td>strong .popshd .popshd-inner table tbody tr td {
    padding: 6px 0px 6px 20px;
    background: transparent;
    font-size: 12px;
    border: none;
    width: auto;
    display: table-cell;
  }
  .slpopdet-sel-pck table>tbody>tr>td>div>table>tbody>tr>td>strong .popshd .popshd-inner table tfoot {
    border-top: 1px solid #dcdcdc;
  }
  .slpopdet-sel-pck table>tbody>tr>td>div>table>tbody>tr>td>strong .popshd .popshd-inner table tbody tr td:nth-child(2) {
    font-weight: 700;
  }
  .popshd .popshd-inner table tfoot tr th {
    padding: 6px 0px 15px 20px;
    font-size: 12px;
  }
  /**************************Tooltip 568 query end****************************/
}

/**************Changes in 19 4 2018******************/

.slpopdet-top>div.slpopdet-top-inrt table tr td:first-child {
  width: 23%;
}

.slpopdet-top>div.slpopdet-top-inrt table tr td:nth-child(2) {
  width: 19%;
}

.slpopdet-top>div.slpopdet-top-inrt table tr td:nth-child(3) {
  width: 17%;
}

.sendlinkship {
  padding: 10px 30px;
}

.sendlinkship table {
  width: 100%;
}

.sendlinkship table tr td:first-child {
  width: 25%;
}

.sendlinkship table tr td:nth-child(2) {
  width: 17%;
}

.sendlinkship table tr td:nth-child(3) {
  /* width:18%; */
}

.sendlinkship table tr td span {
  font-size: 13px;
  font-weight: 700;
  color: #7a7a7a;
}

.sendlinkship table tr td strong {
  font-size: 13px;
  font-weight: 700;
  color: #3c3c3c;
  display: block;
}

/********************************/

.slpopdet-top>div.slpopdet-top-inrt>table>tbody>tr>td>h3 {
  font-size: 13px;
  font-weight: 700;
  color: #3c3c3c;
  margin: 0px;
}

.slpopdet-top>div.slpopdet-top-inrt>table>tbody>tr>td>h3+span {
  font-size: 13px;
  font-weight: 700;
  color: #7a7a7a;
}

.slpopdet-top>div.slpopdet-top-inrt>table>tbody>tr>td>span {
  font-size: 12px;
  font-weight: 700;
  color: #7a7a7a;
}

.slpopdet-top>div.slpopdet-top-inrt>table>tbody>tr>td>strong {
  font-size: 13px;
  font-weight: 700;
  color: #3c3c3c;
  display: block;
}

.slpopdet-top>div.slpopdet-top-inrt>table>tbody>tr>td>strong.dt {
  font-size: 11px;
}

.slpopdet-sel {
  padding: 10px 30px 0px 30px;
}

.slpopdet-sel>ul {
  list-style: none;
}

.slpopdet-sel>ul>li {
  display: inline-block;
  vertical-align: middle;
  padding-right: 30px;
}

.slpopdet-sel>ul>li>label {
  position: relative;
}

.slpopdet-sel>ul>li>label>input[type='radio'] {
  opacity: 0;
  width: 100%;
  position: absolute;
  z-index: 3;
  height: 25px;
  margin: 0px;
  cursor: pointer;
}

.slpopdet-sel>ul>li>label>input[type='radio']+i.rdsrv {
  width: 10px;
  height: 10px;
  background: #c8c8c8;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}

.slpopdet-sel>ul>li>label>input[type='radio']+i.rdsrv+span {
  font-size: 13px;
  font-weight: 700;
  color: #7a7a7a;
  margin-left: 5px;
  vertical-align: middle;
}

.slpopdet-sel>ul>li>label>input[type='radio']:checked+i.rdsrv+span {
  color: #ee282f;
}

.slpopdet-sel>ul>li>label>input[type='radio']:checked+i.rdsrv {
  background: #ee282f;
}

.slpopdet-sel-inner {
  padding: 0px 30px;
}

.slpopdet-sel-inner.slpopdet-sel-inner1>div {
  display: table;
  width: 100%;
  margin-bottom: 5px;
}

.slpopdet-sel-inner.slpopdet-sel-inner1>div>div {
  display: table-cell;
  vertical-align: middle;
}

.slpopdet-sel-inner.slpopdet-sel-inner1 .slpopdet-sel-eval-inner.slpopdet-sel-eval-inner1>div {
  font-size: 0;
  vertical-align: middle;
  width: 50%;
}

.slpopdet-sel-inner.slpopdet-sel-inner1 .slpopdet-sel-eval-inner.slpopdet-sel-eval-inner1>div>label {
  display: block;
  font-size: 13px;
  font-weight: 700;
  color: #7a7a7a;
}

.slpopdet-sel-inner.slpopdet-sel-inner1 .slpopdet-sel-eval-inner.slpopdet-sel-eval-inner1 select {
  width: 81px;
  height: 30px;
  border: 1px solid #a0a0a0;
  border-radius: 20px 0px 0px 20px;
  display: inline-block;
  vertical-align: top;
  font-weight: 700;
  color: #7a7a7a;
}

.slpopdet-sel-inner.slpopdet-sel-inner1 .slpopdet-sel-eval-inner.slpopdet-sel-eval-inner1 input {
  width: 70%;
  border-radius: 0px 20px 20px 0px;
  border: 1px solid #a0a0a0;
  border-left: 0px;
  vertical-align: middle;
  display: inline-block;
}

.slpopdet-sel-inner>label {
  font-size: 13px;
  font-weight: 700;
  color: #7a7a7a;
}

.slpopdet-sel-inner.slpopdet-sel-inner1 .slpopdet-sel-eval-inner.slpopdet-sel-eval-inner2 select {
  width: 70%;
  height: 30px;
  border: 1px solid #a0a0a0;
  border-radius: 20px;
  display: inline-block;
  vertical-align: top;
  font-weight: 700;
  color: #7a7a7a;
}

.slpopdet-sel-inner.slpopdet-sel-inner1 .slpopdet-sel-eval-inner.slpopdet-sel-eval-inner2 a {
  font-size: 15px;
  font-weight: 700;
}

.slpopdet-sel-inner.slpopdet-sel-inner1 .slpopdet-sel-eval-inner.slpopdet-sel-eval-inner2 a img {
  padding: 0px 10px 0px 30px;
}

.slpopdet-sel-inner .slpopdet-sel-eval .slpopdet-sel-eval-inner {
  font-size: 0;
}

.slpopdet-sel-inner .slpopdet-sel-eval .slpopdet-sel-eval-inner select {
  width: 81px;
  height: 30px;
  border: 1px solid #a0a0a0;
  border-radius: 20px 0px 0px 20px;
  display: inline-block;
  vertical-align: middle;
  font-weight: 700;
  color: #7a7a7a;
}

.slpopdet-sel-inner .slpopdet-sel-eval .slpopdet-sel-eval-inner select:focus {
  box-shadow: none;
}

.slpopdet-sel-inner .slpopdet-sel-eval .slpopdet-sel-eval-inner input {
  display: inline-block;
  width: 75%;
  border-radius: 0px 20px 20px 0px;
  border: 1px solid #a0a0a0;
  border-left: 0px;
  vertical-align:top;
}

.slpopdet-sel-inner .slpopdet-sel-eval .slpopdet-sel-eval-inner input:focus {
  box-shadow: none;
}

.slpopdet-sel-inner .slpopdet-sel-eval .slpopdet-sel-eval-inner a {
  font-size: 15px;
  font-weight: 700;
  color: #4477df;
  vertical-align: middle;
  display: inline-block;
  height: 30px;
}
.calcu-amon,.calcu-amon:hover,.calcu-amon:focus,.calcu-amon:active{
  font-weight: bold;
  padding: 0 15px;
  color: #4246a4;
  font-size: 15px;
  display: inline-block;
  height: 30px;
  vertical-align: top;
  border: none;
  background: #fff;
}

.slpopdet-sel-inner .slpopdet-sel-eval .slpopdet-sel-eval-inner a img {
  padding: 0px 10px 0px 30px;
}

.slpopdet-sel-pck {
  padding: 10px 30px;
}

.slpopdet-sel-pck table {
  width: 100%;
}

.slpopdet-sel-pck table>tbody>tr>td {
  padding: 0px 5px;
  vertical-align: top;
}

.slpopdet-sel-pck1.slpopdet-sel-pck>table>tbody>tr>td {
  width: 273px;
  display: block;
}

.slpopdet-sel-pck1.slpopdet-sel-pck>table>tbody>tr>td>table> {
  width: 100%;
}

.slpopdet-sel-pck1.slpopdet-sel-pck>table>tbody>tr>td>table>tbody>tr>td {
  display: table-cell;
}

.slpopdet-sel-pck table>tbody>tr>td:nth-child(1) {
  padding-left: 0px;
}

.slpopdet-sel-pck table>tbody>tr>td:last-child {
  padding-right: 0px;
}

.slpopdet-sel-pck table>tbody>tr>td>div {
  /* border-radius: 10px 10px 0px 0px; */
  padding: 10px 20px;
  position: relative;
}

.slpopdet-sel-pck table>tbody>tr>td.mtserver>div.hd {
 	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c04d1a+0,990d1c+100 */
  background: rgb(192,77,26); /* Old browsers */
  background: -moz-linear-gradient(left, rgba(192,77,26,1) 0%, rgba(153,13,28,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(192,77,26,1) 0%,rgba(153,13,28,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(192,77,26,1) 0%,rgba(153,13,28,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c04d1a', endColorstr='#990d1c',GradientType=1 ); /* IE6-9 */
}

.slpopdet-sel-pck table>tbody>tr>td.bgserver>div.hd{
  background:#0c0b34;
}
.slpopdet-sel-pck table>tbody>tr>td.spserver>div.hd{
  background:#39388a;
}
  

.slpopdet-sel-pck table>tbody>tr>td>div>table>tbody>tr>td>strong .popshd {
  display: none;
  position: absolute;
  width: 280px;
  z-index: 500;
  bottom: 40px;
  border-radius: 20px;
  left: -100%;
}

.popshd-inner {
  padding-top: 20px;
  position: relative;
  background: #fff;
  border: 1px solid #666666;
  border-radius: 10px;
}

.popshd-inner:after,
.popshd-inner:before {
  top: 100%;
  left: 35%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.popshd-inner:after {
  border-color: rgba(255, 255, 255, 0);
  border-top-color: #fff;
  border-width: 20px;
  margin-left: -20px;
}

.popshd-inner:before {
  border-color: rgba(102, 102, 102, 0);
  border-top-color: #666666;
  border-width: 21px;
  margin-left: -21px;
}

.popshd-inner .close-popshd {
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 15px;
  color: #666666;
}

.slpopdet-sel-pck table>tbody>tr>td>div>table>tbody>tr>td>strong .popshd .popshd-inner table {
  border-collapse: separate;
}

.slpopdet-sel-pck table>tbody>tr>td>div>table>tbody>tr>td>strong .popshd .popshd-inner table tbody tr {
  border: none;
}

.slpopdet-sel-pck table>tbody>tr>td>div>table>tbody>tr>td>strong .popshd .popshd-inner table tbody tr td {
  padding: 6px 0px 6px 20px;
  background: transparent;
  font-size: 12px;
  border: none;
}

.slpopdet-sel-pck table>tbody>tr>td>div>table>tbody>tr>td>strong .popshd .popshd-inner table tfoot {
  border-top: 1px solid #dcdcdc;
}

.slpopdet-sel-pck table>tbody>tr>td>div>table>tbody>tr>td>strong .popshd .popshd-inner table tbody tr td:nth-child(2) {
  font-weight: 700;
}

.popshd .popshd-inner table tfoot tr th {
  padding: 6px 0px 15px 20px;
  font-size: 12px;
}

.slpopdet-sel-pck table>tbody>tr>td>div>h3{
	font-size:17px;
	font-weight:bold;
	color:#fff;
	margin:0px 0px 5px 0px;
	text-transform:uppercase;
	text-align: left;
}

.slpopdet-sel-pck table>tbody>tr>td>div>h3>span {
  font-weight: 400;
}

.slpopdet-sel-pck table>tbody>tr>td>div>h4{
	font-size:13px;
	font-weight:bold;
	color:#fff000;
	margin:0px;
	text-transform:uppercase;
	text-align: left;
}

.slpopdet-sel-pck table>tbody>tr>td>div>a.colpexp-ic {
  position: absolute;
  top: 15px;
  margin: auto;
  right: 20px;
  color: #fff;
  font-size: 18px;
  display: none;
}

.slpopdet-sel-pck table>tbody>tr>td>div.dtl {
  padding: 10px 20px;
  border-radius: 0px;
}

.slpopdet-sel-pck table>tbody>tr>td.mtserver>div.dtl{
	background:#fff;
	border-right:2px solid #ae3657;
	border-left:2px solid #ae3657;
}

.slpopdet-sel-pck table>tbody>tr>td.bgserver>div.dtl{
	background:#fff;
	border-right:2px solid #0c0b34;
	border-left:2px solid #0c0b34;
}
.slpopdet-sel-pck table>tbody>tr>td.spserver>div.dtl{
	background:#fff;
	border-right:2px solid #39388a;
	border-left:2px solid #39388a;
	
}

.slpopdet-sel-pck table>tbody>tr>td>div>table {
  width: 100%;
}

.slpopdet-sel-pck table>tbody>tr>td>div>table>tbody>tr>td {
  padding-bottom: 6px;
}

.slpopdet-sel-pck table>tbody>tr>td>div>table>tbody>tr>td>span {
  font-size:13px;
	font-weight:500;
	color:#5e6598;
}

.slpopdet-sel-pck table>tbody>tr>td>div>table>tbody>tr>td>strong {
  font-size:13px;
	font-weight:bold;
	color:#100e2c;
	position:relative;
}

.slpopdet-sel-pck table>tbody>tr>td>div>table>tbody>tr>td>strong.qtcrn {
  margin-right: 5px;
}

.slpopdet-sel-pck table>tbody>tr>td.mtserver>div.ft{
	border-radius:0px 0px 3px 3px;
	padding:10px 20px;
	background:#fff;
	border-right:2px solid #ae3657;
	border-left:2px solid #ae3657;
	border-bottom:2px solid #ae3657;
}
.slpopdet-sel-pck table>tbody>tr>td.bgserver>div.ft{
	border-radius:0px 0px 3px 3px;
	padding:10px 20px;
	background:#fafbff;
	border-right:2px solid #0c0b34;
	border-left:2px solid #0c0b34;
	border-bottom:2px solid #0c0b34;
}
.slpopdet-sel-pck table>tbody>tr>td.spserver>div.ft{
	border-radius:0px 0px 3px 3px;
	padding:10px 20px;
	background:#fafafa;
	border-right:2px solid #39388a;
	border-left:2px solid #39388a;
	border-bottom:2px solid #39388a;
}

.slpopdet-sel-pck table>tbody>tr>td>div.ft>table>tbody>tr>td {
  font-size:11px;
	font-weight:bold;
	color:#444b5a;
}

.slpopdet-sel-pck table>tbody>tr>td>div.ft>table>tbody>tr>td:nth-child(2) {
  font-size:15px;
	font-weight:bold;
    color: #e8353e;
}

.slpop-ftrdv {
  text-align: right;
  padding: 0px 30px 20px 30px;
}

.slpop-ftrdv>button {
  padding: 8px 35px;
  text-align: center;
  color: #fff;
  border-radius: 2px;
  font-size: 13px;
  font-weight: 700;
  border: none;
  
}

.slpop-ftrdv>button.gen-lnk {
  margin-right: 12px;
  background: #4246a4;
  border:1px solid transparent;
}
.slpop-ftrdv>button.gen-lnk:hover {
border-color:#4246a4;
color:#4246a4;
background: #fff;

}
.slpop-ftrdv>button.addquote {
  background: #fff;
  border:1px solid #4246a4;
  color:#4246a4;
}

.slpop-ftrdv>button.addquote:hover{
background: #4246a4;
border-color:transparent;
color:#fff;
}
.serv-char {
  /* display:none; */
}

.cnfbsed {
  display: none;
}

.evalBtn {
  font-size: 15px;
  font-weight: 700;
  color: #4246a4;
  vertical-align: middle;
  display: inline-block;
  height: 30px;
  border: none;
}
.text-prnt-div{text-align: center;padding: 0px;}
.text-size-data{font-size: 20px;}
.updtd-txt-pstn{padding: 6px 33px;}