<div class="cmng-soon">
    <section>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-5 col-sm-5">
                    <div class="mndv">
                        <div class="logodv">
                            <img src="/assets/images/logo-1-white.png" alt="">
                        </div>
                        <h3 class="coming-soonhd">Our customer area
                            <br> will be active soon</h3>
                        <div class="counttbl">
                            <table>
                                <tbody>
                                    <tr>
                                        <td>
                                            <span class="dys">03</span>
                                            <strong>Days</strong>
                                        </td>
                                        <td>
                                            <span class="hrs">12</span>
                                            <strong>Hours</strong>
                                        </td>
                                        <td>
                                            <span class="mnts">54</span>
                                            <strong>Minutes</strong>
                                        </td>
                                        <td>
                                            <span class="scnds">34</span>
                                            <strong>Seconds</strong>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-md-7 col-sm-7">
                    <div class="lightimg">
                        <img src="/assets/images/dasboard-light.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>