/* iCheck plugin Flat skin, blue
----------------------------------- */
.icheckbox_flat-blue,
.iradio_flat-blue {
    display: inline-block;
    *display: inline;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    width: 17px;
    height:17px;
    background: url(blue.png) no-repeat;
    border: none;
    cursor: pointer;
}

.icheckbox_flat-blue {
    background-position: -3px -3px;
}
    .icheckbox_flat-blue.checked {
        background-position: -25px -3px;
    }
    .icheckbox_flat-blue.disabled {
        background-position: -47px -3px;
        cursor: default;
    }
    .icheckbox_flat-blue.checked.disabled {
        background-position: -69px -3px;
    }

.iradio_flat-blue {
    background-position: -91px -3px;
}
    .iradio_flat-blue.checked {
        background-position: -113px -3px;
    }
    .iradio_flat-blue.disabled {
        background-position: -135px -3px;
        cursor: default;
    }
    .iradio_flat-blue.checked.disabled {
        background-position: -157px -3px;
    }

/* HiDPI support */
@media (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi), (min-resolution: 1.25dppx) {
    .icheckbox_flat-blue,
    .iradio_flat-blue {
        background-image: url(blue@2x.png);
        -webkit-background-size: 176px 22px;
        background-size: 176px 22px;
    }
}