<header class="gen-lg">
    <img src="/assets/images/logo.png" class="logo-image">
</header>
<div class="thank-page-n">
    <div class="tnk">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-6 nopad_right">
                    <div class="thankdv">
                        <!-- <img src="/assets/images/autorod-images/thank-you-image.png" class="thanks-img"> -->
                        <div class="thank-inner-dv thank-inner-dv-error">
                            <h2>ERROR</h2>
                            <p>We are working hard to resolve it.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6 text-left">
                    <div class="thnkimg">
                        <img src="/assets/images/autorod-images/error-image.png" alt="">
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>