<header class="gen-lg">
    <img src="/assets/images/logo.png" class="logo-image">
</header>
<div class="thank-page-n">
    <div class="tnk">
        <div class="container">
        <div class="row">
            <div class="col-md-7 col-sm-6 col-xs-6 nopad_right">
                <div class="thankdv">
                    <!-- <img src="/assets/images/autorod-images/thank-you-image.png" class="thanks-img"> -->
                <div class="thank-inner-dv">
                    <h2>Thank You</h2>
                    <p>We have recevied your request , <span>We will get back to you shortly.</span></p>
                </div>
                </div>
            </div>
            <div class="col-md-5 col-sm-6 col-xs-6">
                <div class="thnkimg">
                    <img src="/assets/images/autorod-images/thank-image-2.png" alt="">
                </div>
            </div>

        </div>
    </div>
    </div>
</div>