<div class="bg-img">
    <div class="login_box_one" [style.margin-top.px]="30">
        <div class="col-lg-12 col-xs-12 text-center">
            <div class="login_logo">
                <img src="/assets/images/logo.png">
            </div>
        </div>
        <div class="col-lg-12 col-xs-12">
            <div class="login_img2">
                <img src="/assets/images/login_img2.png">
            </div>
        </div>
        <div class="col-lg-12 col-xs-12">
            <div class="pass_r_title">
                <h3>Password Reset</h3>
            </div>
        </div>
        <div class="col-lg-12 col-xs-12">
            
            <div class="login_password1">
                <label>New Password</label>

                <input type="password" 
                    name="newpassword" 
                    [(ngModel)]="resetpassword.newpassword"
                    #newpassword="ngModel"
                    placeholder="Enter Your New Password"
                    >
                <i class="user-input-pass-icon"></i>
                <i class="user-input-pass-icon-active"></i>
            </div>
            <div class="login_password1">
                <label>Verify New Password</label>

                <input type="password" 
                    name="confirmpassword" 
                    [(ngModel)]="resetpassword.confirmpassword"
                    #confirmpassword="ngModel"
                    placeholder="Enter Your Verify Password"
                    >
                <i class="user-input-pass-icon"></i>
                <i class="user-input-pass-icon-active"></i>
            </div>
        </div>
        <div class="col-lg-12 col-xs-12 text-center">
            <div class="reset_pass2_btn">
                <button (click)="changepassword()">Change Password</button>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>